* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
  padding: 0;
  color: gold;
}

.navigation {
  width: 100%;
  background-color: black;
  color: white;
}

.card {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block!important;
  width: 13rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-body {
  padding: 5px!important;
  background-color: black;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 8rem;
  }

  .card-img-top {
    height: 20vw;
  }
  .card-body {
    height: 5.2rem;

  }
}

