* {
  box-sizing: border-box;
}

.menu-items h2 {
  margin-bottom: 60px;
}

.menu-items h2:hover {
  transform: scaleY(1.3);
}

.icon {
  color: white;
  margin-left: 1.5rem;
}

h3 {
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
  padding: 0;
  color: gold;
}

.landing {
  position: absolute;
  top: 5rem;
}

.landing .card {
  margin-top: 20px !important;
  height: 200px !important;
  font-family: 'Raleway';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing .card img {
  overflow: hidden;
}

.landing .card:hover {
  transform: scale(1.01);
  background-color: gold;
}

.landing h1 {
  animation: fadeIn 3s;
  letter-spacing: 5px;
  padding: 5px 0px 0px 20px;
}

.landing .card p {
  padding-left: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}